<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nyo-Anime</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body class="bg-keqing-main">
        <%- include("./template/sidebar.ejs",{active:"home"}) %>
        <h1 class="text-white text-xl">Hello WOrld</h1>
</body>

</html>