<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nyo-Anime</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
        <%- include("./template/sidebar.ejs",{li:[{href:"./",name:"Home",active:"true"},{href:"/otakudesu",name:"Otakudesu"},{href:"/neonime",name:"NeoNime"}]}) %>

</body>

</html>